type hal_cameraHIDL_default, domain;
type hal_cameraHIDL_default_exec, exec_type, vendor_file_type, file_type;

binder_call(cameraserver, hal_cameraHIDL_default)
binder_call(system_server, hal_cameraHIDL_default)

allow hal_cameraHIDL_default system_server:unix_stream_socket { read write };

allow hal_cameraHIDL_default mnt_vendor_file:file { rw_file_perms setattr };

allow hal_cameraHIDL_default sysfs:file { r_file_perms };

get_prop(hal_cameraHIDL_default, hwservicemanager_prop)

init_daemon_domain(hal_cameraHIDL_default)

hwbinder_use(hal_cameraHIDL_default)
add_hwservice(hal_cameraHIDL_default, hal_cameraHIDL_hwservice)
