get_prop(system_server, wfd_sys_debug_prop)

# OnePlus camera
allow system_server hal_cameraHIDL_hwservice:hwservice_manager { find };
allow system_server hal_cameraHIDL_default:binder { call };
allow system_server camera_data_file:dir search;
allow system_server camera_data_file:file { read open getattr };
