allow system_server lineage_data_file:dir search;
allow system_server lineage_data_file:file r_file_perms;

type hal_cameraHIDL_hwservice, hwservice_manager_type;
add_hwservice(system_server, hal_cameraHIDL_hwservice)
allow system_server hal_cameraHIDL_hwservice:hwservice_manager { find };
allow system_server hal_cameraHIDL_default:binder { call };

get_prop(system_server, vendor_camera_prop)

allow system_server vendor_sysfs_battery_supply:file rw_file_perms;
