on post-fs-data

    # Charging switches
    chown system system /sys/class/power_supply/battery/batt_slate_mode
    chown system system /sys/class/power_supply/battery/battery_charging_enabled
    chown system system /sys/class/power_supply/battery/charging_enabled
    chown system system /sys/class/power_supply/battery/input_suspend
    chown system system /sys/class/power_supply/battery/op_disable_charge

on boot
    # Fingerprint
    chown system system /sys/devices/platform/soc/soc:goodix_fp/proximity_state

    # OTG
    write /sys/class/power_supply/usb/otg_switch 1

on charger
    write /sys/class/backlight/panel0-backlight/brightness 150

service cvphalservice /system/bin/true
    disabled

service dashd /system/bin/dashd
    class core
    critical
    group root system

service factory-hal-1-0 /system/bin/true
    disabled

service oneplus_brain_service /system/bin/true
    disabled
