on post-fs
    # Vibration
    chown system system /sys/class/leds/vibrator/vmax_override
    write /sys/class/leds/vibrator/vmax_override 1
    chown system system /sys/class/leds/vibrator/vmax_mv_user
    chown system system /sys/class/leds/vibrator/vmax_mv_call
    chown system system /sys/class/leds/vibrator/vmax_mv_strong

on boot
    # OTG
    write /sys/class/power_supply/usb/otg_switch 1
    chmod 0660 /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/dimlayer_bl_en
    chown system system /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/dimlayer_bl_en

on charger
    write /sys/class/backlight/panel0-backlight/brightness 150

service cvphalservice /system/bin/true
    disabled

service dashd /sbin/dashd
    class core
    critical
    seclabel u:r:dashd:s0
    group root system

service factory-hal-1-0 /system/bin/true
    disabled

service oneplus_brain_service /system/bin/true
    disabled
